# Run Ceedling tests

name: Ceedling

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby 3.0
      uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
      with:
        ruby-version: '3.0'
        bundler-cache: true

    - name: Install Ceedling
      run: gem install ceedling

    - name: Run unit tests
      run: ceedling test:all
