# Run code formatting check

name: Format Code

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Install clang-format-18
    - name: Install clang-format-18
      run: |
        wget -qO- https://apt.llvm.org/llvm.sh | sudo bash -s 18
        sudo apt-get install -y clang-format-18

    # Run clang-format check (dry-run)
    - name: Check formatting
      run: |
        ./scripts/run-clang-format.sh --clang-format-executable=/usr/bin/clang-format-18 \
          ./src/ruuvi_endpoints_internal.h \
          ./src/ruuvi_endpoint_6.c \
          ./src/ruuvi_endpoint_6.h \
          ./test/test_ruuvi_endpoint_6.c \
          ./src/ruuvi_endpoint_7.c \
          ./src/ruuvi_endpoint_7.h \
          ./test/test_ruuvi_endpoint_7.c \
          ./src/ruuvi_endpoint_e1.c \
          ./src/ruuvi_endpoint_e1.h \
          ./test/test_ruuvi_endpoint_e1.c
